<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Assets/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/5397743099.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet" />
    <link href="../Styles/ignition.css" rel="stylesheet" />
    <link href="../Styles/loader.css" rel="stylesheet" />

    <script defer src="../Scripts/hamburger.js"></script>
    <script defer src="../Scripts/index.js"></script>
    <script defer src="../Scripts/loader.js"></script>
    <title>EVENTS - HORIZON'25</title>
</head>
<body>
    <div class="loader">
        <div class="video-wrapper">
          <video autoplay loop muted playsinline id="video" width="100%">
            <source src="../Assets/loader.mp4" type="video/mp4" />
          </video>
          <div class="shadow"></div>
        </div>
    
        <div class="hide">CLICK TO CONTINUE</div>
      </div>

    <div class="ham-grid">
        <div class="ham-logo ham-hide"><img src="../Assets/ham-logo.png" /></div>
        <div class="ham-img ham-hide">
          <img src="../Assets/ham-img.png" /><span></span>
        </div>
    
        <div class="ham-links">
          <div>
            <a href="../index.html">HOME</a>
            <a href="https://photos.app.goo.gl/xGoufD8RySJaYyUv5">GALLERY</a>
            <!--<a href="./registration.html">REGISTRATION</a>
            <a href="./gallery.html">GALLERY</a>
            <a href="./sponsors.html">SPONSORS</a>
            <a href="https://dvm-bitspilani.github.io/bosm-2019-main/">ARCHIVES</a>
            <a style="display: none" href="#">LOGIN</a>
            <a href="./developers.html">DEVELOPERS</a>-->
          </div>
        </div>
    
        <div class="ham-text ham-hide">
          <img src="../Assets/ham-text.png" /><span></span>
        </div>
        <div class="ham-icons ham-hide">
          <a href="https://chat.whatsapp.com/Bb78tOuNvqZIwxN16oYv7r" target="_blank">
            <img aria-hidden="true" src="../Assets/whatsapp.png" class="ham-icon" />
          </a>
        </div>
      </div>
    
      <nav class="nav">
        <div class="right">
          <div class="ham-cont">
            <div class="hamburger">
              <span class="ham-1"></span>
              <span class="ham-2"></span>
              <span class="ham-3"></span>
            </div>
          </div>
        </div>
      </nav>

    <div class="heading">
        <h2 class="ign-head">ALL EVENTS</h2>
    </div>

    <div class="ignition">
        <div class="ignition-cont">
            <div class="ignition-game">
                <h3 class="game-head">Web Dev</h3>
                <img class="game-img" src="../Assets/ignition/1.png" alt="Volleyball">
                <div class="game-reg">
                    <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
                </div>
            </div>

            <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/2.png" alt="Throwball">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/3.png" alt="basketball">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

            <div class="ignition-game">
                <h3 class="game-head">Web Dev</h3>
                <img class="game-img" src="../Assets/ignition/4.png" alt="">
                <div class="game-reg">
                    <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
                </div>
            </div>
        </div>

        <div class="ignition-cont">
          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/5.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/6.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/7.png" alt="">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/8.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>
        </div>

        <div class="ignition-cont">
          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/9.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/10.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/11.png" alt="">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/12.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>
        </div>

        <div class="ignition-cont">
          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/13.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/14.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/15.png" alt="">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/16.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>
        </div>

        <div class="ignition-cont">
          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/17.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/18.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/19.png" alt="">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/20.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>
        </div>

        <div class="ignition-cont">
          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/21.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev</h3>
              <img class="game-img" src="../Assets/ignition/22.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>

          <div class="ignition-game">
            <h3 class="game-head">Web Dev</h3>
            <img class="game-img" src="../Assets/ignition/23.png" alt="">
            <div class="game-reg">
                <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
            </div>
        </div>

          <div class="ignition-game">
              <h3 class="game-head">Web Dev </h3>
              <img class="game-img" src="../Assets/ignition/24.png" alt="">
              <div class="game-reg">
                  <a href="#" class="game-reg-btn" target="_blank">REGISTER</a>
              </div>
          </div>
        </div>
    </div>
</body>
</html>